{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-document-text"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">文章数量</span>
                    <span class="info-box-number" id="blogs_number"></span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="ion ion-android-menu"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">分类数量</span>
                    <span class="info-box-number" id="types_number"></span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="ion ion-android-happy"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">历史浏览量</span>
                    <span class="info-box-number">760</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="ion ion-share"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">分享</span>
                    <span class="info-box-number">2,000</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->

    </div>

    <hr />

    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>

    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua-active">R</span>
                <div class="info-box-content">
                    <span class="info-box-text">Rust</span>
                    <span class="info-box-number">125</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-fuchsia">J</span>
                <div class="info-box-content">
                    <span class="info-box-text">JavaScript</span>
                    <span class="info-box-number">4</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-teal">P</span>
                <div class="info-box-content">
                    <span class="info-box-text">PHP</span>
                    <span class="info-box-number">125</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-gray">L</span>
                <div class="info-box-content">
                    <span class="info-box-text">Linux</span>
                    <span class="info-box-number">4</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->


    </div>

    <div class="row">
        <div class="col-xs-12">

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">所有文章</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <div class="delete_wrapper" style="display: none">
                        <div style="position: absolute;top:50%;left:50%;transform:translate(-50%,-50%);transition-duration: 0.45s;text-align: center">
                            <p id="confirm_delete">确认删除《文章标题》码？</p>
                            <button class="btn btn-danger" id="do_delete">删除</button>
                            <button class="btn btn-success" id="cancel_delete">取消</button></div>
                    </div>

                    <div class="change_version_wrapper" style="display: none">
                        <div class="row"  style="width: 100%;position: absolute;top:50%;left:50%;transform:translate(-50%,-50%);transition-duration: 0.45s;text-align: center">
                            <div class="col-md-4 col-md-offset-4">
                                <div class="form-group">
                                    <label for="change_version" id="change_version_title"></label>
                                    <select name="change_version" id="change_version" class="form-control"></select>
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-success btn-lg" id="do_change_version">确定</button>
                                    <button class="btn btn-danger btn-lg" id="cancle_change_version">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="dataTables_length">
                            <label>
                                <select id="types_option" aria-controls="types_option" class="form-control input-sm"></select>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div><label><input type="search" class="form-control input-sm" placeholder="过滤" aria-controls="example1"> </label><button class="btn btn-success btn-sm">查询</button></div>
                    </div>
                    <div class="dataTables_wrapper form-inline dt-bootstrap">
                        <table class="table table-bordered table-striped dataTable">
                            <thead>
                                <tr>
                                    <td>标题</td>
                                    <td>分类</td>
                                    <td>发布时间</td>
                                    <td>版本</td>
                                    <td>操作</td>
                                </tr>
                            </thead>
                            <tbody id="table_content"></tbody>
                        </table>
                        <div id="pager" class="pagination"></div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>

    <div class="row edit_wrapper" style="position:relative; display: none;">
        <div class="col-md-4 col-md-offset-1">
            <div class="form-group">
                <label for="new_title">标题</label>
                <input type="text" name="new_title" id="new_title" class="form-control" disabled="disabled" />
                <input type="hidden" name="edit_blog_id" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="new_type" name="new_title">分类</label>
                <select id="new_type" class="form-control"  disabled="disabled">
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="new_version" name="new_version">切换版本</label>
                <select id="new_version" class="form-control"></select>
            </div>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <textarea id="editor" style="overflow-y: scroll"></textarea>
            <div style="text-align: center">
                <button class="btn btn-success btn-lg" id="do_post_new_version">修改</button>
                <button class="btn btn-default btn-lg" id="cancel_post_new_version">取消</button>
            </div>
        </div>
    </div>

    <style>
        .edit_hover, .delete_wrapper, .change_version_wrapper{
            position: absolute;
            width: 100%;
            height:100%;
            background-color: rgba(255, 255, 255, .9);
            z-index: 99;
            top: 0;
            left: 0;
            padding: 10px;
        }

        .edit_hover .edit_close {
            display: inline-block;
            float: right;
            cursor: pointer;
            height: 48px;
            width: 48px;
            text-align: center;
            line-height:48px;
        }

        .delete_wrapper, .change_version_wrapper{
            display: block;
            text-align: center;
        }

    </style>


{% endblock %}

{% block page_js %}
    <script src="/public/js/plugins/jqPaginator.min.js"></script>
    <link rel="stylesheet" href="/public/css/simplemde.min.css">
    <script src="/public/js/simplemde.min.js"></script>
    <script>

        var simplemde = new SimpleMDE({ element: document.getElementById("editor"),codeSyntaxHighlighting: true });

        var host = window.location.protocol + "//" + window.location.host;

        var onShowType = 0;

        var editBlogData = undefined;

        $(function (){
            getTypes(generateTypes);
            getBlog(0, 1, 20, buildTableContent);

            $("#table_content .delete_blog").click(function (e){
                console.log(e);
            })

            $("#close_hover").click(function() {
                $("#hover").fadeOut()
            })

        });

        function getBlog(type, page, limit, cb) {

            if (type == undefined || page == undefined || limit == undefined || cb == undefined) {
                return false;
            }

            if (typeof cb !== 'function') {
                return false;
            }

            type  = parseInt(type);
            page  = parseInt(page);
            limit = parseInt(limit);

            var url = host + "/blog/" + type + "/" + page + "/" + limit;


            $.get(url, function(response) {

                if (response.ok === false || response.statusCode !== 800) {
                    return;
                }

                console.log(response.data.total);

                window.blogsData = response.data;
                cb(response.data);

                if (type === 0) {
                    $("#blogs_number").text(response.data.total);
                }

            })

        }

        function buildTableContent(data) {

            var blogs = data.blogs;

            var template = "";

            for (var i in blogs) {
                var blog = blogs[i];
                var version = blogs[i]['version_number'];

                var tr = "<tr data-id='"+blog.id+"'>";

                var td = "<td>" + blog.title + "</td>";
                    td = td + "<td>" + blog.type_name + "</td>";
                    td = td + "<td>" + blog.createdAt.date.split('.')[0] + "</td>";
                    td = td + "<td>" + version + "</td>";
                    td = td + "<td><a style='cursor: pointer' class='delete_blog' data-title='"+ blog.title +"' data-id='"+ blog.id +"'>删除</a>&nbsp;<a style='cursor: pointer' class='edit_blog' data-id='"+ blog.id +"'>编辑</a>"+ "&nbsp;<a style='cursor: pointer' class='change_blog_version' data-title='"+ blog.title +"'data-id='"+blog.id+"'>切换版本</a>" +"</td>";

                tr += td + "</tr>";

                template += tr;
            }

            $('#pager').jqPaginator({
                totalPages: data.maxPage,
                visiblePages: Math.ceil(data.total / data.maxPage),
                totalCounts: parseInt(data.total),
                currentPage: parseInt(data.page),
                onPageChange: function (num, type) {
                    if (type === 'init')
                        return;
                    getBlog(onShowType, num, Math.ceil(data.total / data.maxPage), buildTableContent);
                }
            });

            $("#table_content").html(template);
            $("#table_content .delete_blog").click(function (e){
                var id = $(e.target).attr("data-id");
                var title = $(e.target).attr("data-title");

                var confirm_text = "确定要删除《" + title + "》吗？";

                $("#confirm_delete").text(confirm_text);
                $("#do_delete").attr("data-id", id);

                $(".delete_wrapper").fadeIn();
            });

            $(".edit_blog").click(function(e) {
                var id = $(e.target).attr('data-id');

                editBlog(id);
            });

            $(".change_blog_version").click(function() {
                getBlogVersions($(this).attr("data-id"));
                $("#do_change_version").attr("data-id", $(this).attr("data-id"));
                $("#change_version_title").html("切换<i style='color:red'>《" + $(this).attr("data-title") + "》</i>的版本");
                $(".change_version_wrapper").fadeIn();
            });

        }

        $("#cancel_delete").click(function() {
           $(".delete_wrapper").fadeOut();
        });

        // 获得所有分类
        function getTypes(cb) {

            if (typeof  cb !== 'function') {
                return;
            }

            $.get(host+"/type", function(response) {
                if (response.ok !== true && response.statusCode === 700) {
                    return false;
                }

                cb(response.data);

            })
        }

        function generateTypes(data) {
            var types = data.types;

            $("#types_number").text(data.types.length);

            var opt = document.createElement('option');
            opt.value = 0;
            opt.innerHTML = '全部';
            $('#types_option').append(opt);

            types.forEach(function(t) {
                var opt = document.createElement('option');
                opt.value = t.id;
                opt.innerHTML = t.name;
                $('#types_option').append(opt);
            });

            $('#types_option').change(function(e) {
                onShowType = parseInt(e.target.value);
                console.log(onShowType);
                getBlog(onShowType, 1, 20, buildTableContent)
            })

        }

        $("#do_delete").click(function() {
            var blog_id = $(this).attr("data-id");
            var url = host + "/delete/" + blog_id;

            $.get(url, function(response) {
                if (response.ok === true) {

                    $("#table_content tr[data-id="+ blog_id+"]").remove();
                    alert("删除成功");
                } else {
                    alert("删除失败");
                }
                $(".delete_wrapper").fadeOut();
            })
        });

        function deleteBlog(blog_id) {
            var t = "tr[data-id=" +blog_id +"]";
            $(t).remove();
            console.log($(t));
            $(".delete_wrapper").fadeOut();
        }

        // 点击编辑时触发
        function editBlog(blog_id) {

            $("#new_type option").remove();
            $("#new_version option").remove();
            $("input[name='edit_blog_id']").val(blog_id);

            $.get(
                    host+"/preEdit/" + blog_id,
                    function(response) {
                        if (response.statusCode !== 800) {
                            return;
                        }

                        editBlogData = data = response.data;

                        type = document.createElement('option');
                        type.value = data.type.id;
                        type.innerText = data.type.name;

                        $("#new_type").append(type);

                        $("#new_title").val(data.title);

                        simplemde.value(data.content);

                        $("#new_title").val(data.title);

                        data.versions.forEach(function(v){

                            var opt = document.createElement('option');
                            opt.value = v.id;
                            opt.text = v.version;

                            if (data.version === v.id) {
                                simplemde.value(v.content)
                                opt.setAttribute('selected', 'selected');
                            }


                            $("#new_version").append(opt);
                        });

                        $("#new_version").change(function(e) {
                            onChangeVersion(e.target.value);
                        })
                    }
            );

            $(".edit_wrapper").fadeIn();
        }

        // 正在编辑,点击切换要编辑的版本时触发
        function onChangeVersion(version_id) {
            editBlogData.versions.forEach(function(v) {
                if (version_id == v.id) {
                    simplemde.value(v.content)
                }
            })
        }

        // 点击切换版本时触发
        function getBlogVersions(blog_id)
        {
            $.get(host+"/preEdit/" + blog_id, function(response) {
                if (response.statusCode !== 800) {
                    return;
                }

                data = response.data;

                data.versions.forEach(function(v){

                    var opt = document.createElement('option');
                    opt.value = v.id;
                    opt.text = v.version;

                    if (data.version === v.id) {
                        opt.setAttribute('selected', 'selected');
                    }


                    $("#change_version").append(opt);
                })
            })
        }

        // 取消切换版本
        $("#cancle_change_version").click(function() {
            $(".change_version_wrapper").fadeOut();
            $("#change_version").html("");
        });

        $("#do_change_version").click(function() {
            var options = $("#change_version").children("option");


            if (options.length < 2) {
                $(".change_version_wrapper").fadeOut();

                $("#change_version").html("");

                return;
            }

            var url = host + "/changeBlogVersion";
            var blog_id = $(this).attr("data-id");
            var version_id = $("#change_version").val();

            var data = {
                blog_id: blog_id,
                version_id: version_id
            };
            

            $.post(url, data, function(response) {
                if(response.ok === true) {
                    alert("版本切换成功");
                } else {
                    alert("版本切换失败");
                }
            });

            $(".change_version_wrapper").fadeOut();

            $("#change_version").html("");

        })

        // 点击修改时触发
        $("#do_post_new_version").click(function() {
            var title = $("#new_title").val();
            var type = $("#new_type").val();
            var content = simplemde.value();

            if (content.trim().length === 0) {
                return alert("内容不能为空");
            }

            content = content.replace(/%/g, "%25");
            content = content.replace(/\&/g, "%26");
            content = content.replace(/\+/g, "%2B");

            title = title.replace(/%/g, "%25");
            title = title.replace(/\&/g, "%26");
            title = title.replace(/\+/g, "%2B");

            var url = host+ "/version";

            var data = {
                blog_id: $("input[name='edit_blog_id']").val(),
                title: title,
                content: content
            };

            $.post(url, data, function(response) {
                if (response.ok === true) {
                    alert("新版本发布成功");
                } else {
                    alert(response.message);
                }
                $(".edit_wrapper").fadeOut();
            });

        });

        // 点击取消修改时触发
        $("#cancel_post_new_version").click(function() {
            $(".edit_wrapper").fadeOut();
        })


    </script>
{% endblock %}