<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>登录码可档</title>
    <meta name="description" content="码可档">
</head>
<body>
<div id="app"></div>
<script>
    {% if error %}
    var hasError = true;
    {% else %}
    var hasError = false;
    {% endif %}
    var _username = "{{ last_username }}"
    var _csrf_token = "{{ csrf_token('authenticate') }}";
</script>
<script src="/public/js/login.js"></script>
</body>
</html>