<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>码可档</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="码可档">
		<meta name="author" content="田仁山">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <style>html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline}html{line-height:1}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}q,blockquote{quotes:none}q:before,q:after,blockquote:before,blockquote:after{content:"";content:none}a img{border:none}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}body{background-color:#e3e3e3}#loading{width:240px;height:48px;line-height:48px;position:absolute;left:50%;top:50%;margin-left:-120px;margin-top:-24px;font-size:24px;padding:0 10px;color:#FFFFFF;text-align:center}.m,.k,.d{display:inline-block;text-shadow:1px 1px 1px #000}.line{display:absolute;width:10%;height:2px;background-color:#ff2d4b;margin:auto;-moz-animation:line 4s infinite;-webkit-animation:line 4s infinite;animation:line 4s infinite}.k{color:#ff2d4b}@-moz-keyframes line{0%{width:10%}50%{width:100%}100%{width:10%}}@-webkit-keyframes line{0%{width:10%}50%{width:100%}100%{width:10%}}@keyframes line{0%{width:10%}50%{width:100%}100%{width:10%}}#app{opacity:0}.fadein{animation:fade-in 1s}.fadeout{animation:fade-out 1s}@-moz-keyframes loading-animate{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}@-webkit-keyframes loading-animate{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}@keyframes loading-animate{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}@-moz-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}@-moz-keyframes fade-out{0%{opacity:1}100%{opacity:0}}@-webkit-keyframes fade-out{0%{opacity:1}100%{opacity:0}}@keyframes fade-out{0%{opacity:1}100%{opacity:0}}</style>
    <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//p.amaze.so/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', 1]);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <noscript><p><img src="//p.amaze.so/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
</head>
<body>
<div id="loading">
    <div class="m">M</div>
    <div class="k">K</div>
    <div class="d">D</div>
    <div class="line"></div>
</div>
<div id="app"></div>
<script>
    window.onload = function () {
        document.getElementById('loading').className = "fadeout";
        setTimeout(function() {
            document.body.removeChild(document.getElementById('loading'));
            document.getElementById('app').style.opacity = 1;
            document.getElementById('app').className = 'fadein';
        }, 1000);
    }
</script>
<script type="text/javascript" src="https://renshan.info/app.js"></script>
</body>
</html>
