<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>码可档</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="码可档">
		<meta name="author" content="田仁山">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/public/css/monokai-sublime.css" />
</head>
<body>
<div id="app">loading...</div>
<script type="text/javascript" src="/public/js/app.js"></script>
<script src="/public/js/highlight.pack.js"></script>
</body>
</html>
